<header class="p-3 text-bg-dark">
<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <h3 class="d-flex text-align-start me-5">Preguntas y respuestas</h3>

    <ul _ngcontent-ng-c491934770="" class="nav col-12 col-lg-auto ms-lg-auto mb-2 mb-md-0" style="text-align: right;">
        <li _ngcontent-ng-c491934770=""><a _ngcontent-ng-c491934770="" class="nav-link px-2 text-white" routerLink="/dashboard">Cuestionarios</a></li>
        <li _ngcontent-ng-c491934770=""><a _ngcontent-ng-c491934770="" class="nav-link px-2 text-white" routerLink="/dashboard/cambiarPassword">Cambiar Password</a></li>
    </ul>

    <div class="text-end">
        <button type="button" class="btn btn-warning" (click)="logOut()">LogOut</button>
    </div>
    </div>
</div>
</header>